* {
  margin: 0;
  padding: 0;
}
.button {
  margin: 4px 11px;
  padding: 8px;
  height: 60px;
  width: 60px;
  /* background-image: linear-gradient(to bottom right , black,rgba(15, 15, 228, 0.989) ); */
  border-radius: 20px;
}
.button0
{
    height: 60px;
    width: 145px;
    margin: 4px 11px;
    padding: 8px;
    border-radius: 20px;

}
.frame{
  /* background-image: linear-gradient(to bottom right , black,rgba(15, 15, 228, 0.989) ); */
  background-color: rgba(69, 63, 63, 0.361);
  height: 455px;
  width: 350px;
  box-sizing: border-box;
  border:3px solid black;
  border-radius: 10px;
}
.row {
    align-items: center;
    justify-content: space-between;
}
/* .frame{
    
} */
.display
{
    background-color: white;
    margin: 4px;
    box-sizing: border-box;
    border:3px solid black;
    border-radius: 12px;
    width: 335px;
    height:100px;
}